body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    background-color: #f4f4f4; /* Color de fondo */
    color: #333; /* Color del texto */
}

header {
    background-color: #007BFF; /* Color del encabezado */
    color: white;
    padding: 20px;
    text-align: center;
}

h1 {
    margin: 0;
}

h2 {
    margin: 10px 0 20px;
}

section {
    margin: 20px;
    padding: 20px;
    background-color: white; /* Color de fondo de las secciones */
    border-radius: 8px; /* Bordes redondeados */
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1); /* Sombra */
}

h3 {
    color: #007BFF; /* Color de los subtítulos */
}

footer {
    text-align: center;
    padding: 10px;
    background-color: #007BFF; /* Color del pie de página */
    color: white;
    position: relative;
    bottom: 0;
    width: 100%;
}